<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wrx886.e2echo.client.mapper.GroupUserMapper">

    <!-- listUserByGroupId --> 
    <select id="listUserByGroupId" resultType="com.github.wrx886.e2echo.client.model.entity.User">
        SELECT
            u.id            AS id,
            u.owner_id      AS owner_id,
            u.name          AS name,
            u.type          AS type,
            u.public_key    AS public_key,
            u.group_uuid    AS group_uuid
        FROM group_users AS gu
            LEFT JOIN users AS u ON gu.member_id = u.id
        WHERE gu.group_id = #{groupId}
    </select>
</mapper>